<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home Page</title>
   
    <style>
       
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center;
        }

        .container a {
            display: inline-block;
            margin: 10px;
            padding: 15px 30px;
            text-decoration: none;
            color: white;
            background-color: #4CAF50;
            border-radius: 5px;
            font-size: 18px;
        }

        .container a:hover {
            background-color: #45a049;
        }

        .register-btn {
            background-color: #008CBA;
        }

        .register-btn:hover {
            background-color: #007bb5;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bienvenido a mi página!</h1>
        <p>Escoge una opción</P>
        <a href="/login">Login</a>
       <a href="/register" class="register-btn">Register</a>
    </div>
</body>
</html>
